.mxw600 {
    max-width: 600px;
}
.mxw650 {
    max-width: 650px;
}
.mxw700 {
    max-width: 700px;
}
.mxw750 {
    max-width: 750px;
}
.mxw800 {
    max-width: 800px;
}

.inblock {
    display: inline-block;
}

.frHidden {
    overflow: hidden;
}

.lbl {
    font-size: 15pt;
    font-weight: bold;
    padding-right: 15px;
    padding-top: 4px;
}

.pdh20 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.pdh30 {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.mgt10 {
    margin-top: 10px;
}
.mgt20 {
    margin-top: 20px;
}

.btnW1 {
    width: 100px;
}
.btnPd {
    padding: 5px 16px;
}